<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head', { title: 'Formulario de Criação de categoria' }) %>
<%- include('../partials/nav-bar') %>

    <div class="container mt-5 w-50">
        <br>
        <form action="/categories/save" method="post">
            <div class="card">
                <div class="card-header">
                    <h2>Crie uma categoria</h2>
                </div>
                <div class="card-body">
                    <input class="form-control" placeholder="Crie aqui uma nova categoria." type="text"
                        name="title" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Criar Categoria</button>
        </form>
    </div>

<%- include('../partials/footer') %>

</html>
