<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <i class="fas fa-blog me-2"></i>
            Blog Dev
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="fas fa-home me-1"></i>
                        Home
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-tags me-1"></i>
                        Categorias
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/categories/new">Criar Categoria</a></li>
                        <li><a class="dropdown-item" href="/categories/table">Categoriaas Criadas</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-file-alt me-1"></i>
                        Artigos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/articles/new">Criar Artigos</a></li>
                        <li><a class="dropdown-item" href="/articles/table">Artigos Criados</a></li>
                    </ul>
                </li>

            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisar posts...">
                <button class="btn btn-outline-light" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <!-- Altere o action para a rota correta -->
            <form action="/users/logout" method="POST">
                <button type="submit" class="btn btn-link text-white">Sair</button>
            </form>
        </div>
    </div>
</nav>